<div class="row">
  <div class="col-md-12">
    <h1>{{restaurant.name}}</h1>
    <p>【{{restaurant.Category.name}}】</p>
  </div>
  <hr size="8px" align="center" width="100%">
  <div class="mt-3">
    <ul>
      <li>評論數：{{commentAmount}}</li>
      <li>瀏覽次數：</li>
      <li>收藏數：</li>
    </ul>
  </div>
</div>
<br />
<br />

<a href="javascript:history.back()">回上一頁</a>